@model StoryB

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>StoryB</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Noun1)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Noun1)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Noun2)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Noun2)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Noun3)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Noun3)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Noun4)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Noun4)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Noun5)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Noun5)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Noun6)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Noun6)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Noun7)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Noun7)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Adjective1)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Adjective1)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Adjective2)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Adjective2)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Adjective3)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Adjective3)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Verb1)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Verb1)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Verb2)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Verb2)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Verb3)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Verb3)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Verb4)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Verb4)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Verb5)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Verb5)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Verb6)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Verb6)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Interjection)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Interjection)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="ID" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
