@model StoryB

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>The Three Little  @Model.Noun1</h4>
    <hr />

<p>
    Once upon a time there were three little @Model.Noun1. They each lived in three houses. One made of @Model.Noun2, one made of @Model.Noun3 and one made of @Model.Noun4. One day the @Model.Adjective1 @Model.Noun1</s> were sitting in their houses, when along came a big @Model.Adjective2 @Model.Noun5. He huffed and he @Model.Verb1 and he blew down the house made of @Model.Noun2. The @Model.Noun1 was so @Model.Verb2 that he yelled @Model.Interjection and ran to the house made of @Model.Noun3. The @Model.Noun5 @Model.Verb4 to the house made of @Model.Noun3 and blew that house to @Model.Noun6>. Both @Model.Noun1 @Model.Verb6 and ran to the house made of @Model.Noun4. The @Model.Noun5 followed the @Model.Noun1 to the house made of @Model.Noun4. He huffed and he puffed, but he could not seem to make the house @Model.Verb5. So the @Model.Noun5 gave up and ran to @Model.Noun7. The @Model.Noun1 were very @Model.Adjective3. 
</p>

 <button class='button'  onclick="toggle()">Show my word list</button>

<div id ="word_list" style="display:none";>

    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Noun1)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Noun1)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Noun2)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Noun2)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Noun3)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Noun3)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Noun4)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Noun4)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Noun5)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Noun5)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Noun6)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Noun6)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Noun7)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Noun7)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Adjective1)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Adjective1)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Adjective2)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Adjective2)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Adjective3)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Adjective3)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Verb1)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Verb1)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Verb2)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Verb2)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Verb3)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Verb3)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Verb4)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Verb4)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Verb5)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Verb5)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Verb6)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Verb6)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Interjection)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Interjection)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.ID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
